<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let producto of productos"[routerLink]="['/productos', producto.id]">
      <ion-avatar slot="start">
        <ion-img [src]="producto.imageURL"></ion-img>
      </ion-avatar>
      {{producto.title}}
    </ion-item>
    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color ="danger" (click)="addNewProducto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>